*{
    color: rgb(4, 0, 255);
}
.formdiv{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1500964757637-c85e8a162699?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1078&q=80");
    background-size: cover;
    
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(52, 8, 245);
    margin-bottom: 20px;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
}
.checkbox1{
    display: flex;
}
.Unohdinsalasanan{
    text-align: right;

}
form h1{
    color: red;
}
button{
    color: black;
    padding: 5px;
    background-color: rgba(255, 0, 0, 0);
    border: 1px solid rgb(7, 11, 253);
    margin-bottom: 10px;
    cursor: pointer;
}
.margin-a{
    margin-right: 30px;
}
